html {
    font-size: 1rem;
}

body {
    height:100%;
    font-family: 'Roboto Slab', serif !important;
}

/* Media Queries for responsiveness */
@media screen and (min-width: 700px) {
    html {
        font-size: 30px;
    }
}
@media screen and (max-width: 700px) {
    html {
        font-size: 14px;
    }
}