.centering {
    text-align: center;
}

.card {
    border: none !important;
}

#mid-pane {
    width: 12rem;
}

.selection-container {
    /*background-color: red;*/
    height: 17rem;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
}